<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zjnu.AutoGenPaperSystem.dao.CharacterMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.zjnu.AutoGenPaperSystem.model.Character" >
    <constructor >
      <idArg column="Charact_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Charact_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    Charact_ID, Charact_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from character
    where Charact_ID = #{charactId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from character
    where Charact_ID = #{charactId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.Character" >
    insert into character (Charact_ID, Charact_name)
    values (#{charactId,jdbcType=INTEGER}, #{charactName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.Character" >
    insert into character
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="charactId != null" >
        Charact_ID,
      </if>
      <if test="charactName != null" >
        Charact_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="charactId != null" >
        #{charactId,jdbcType=INTEGER},
      </if>
      <if test="charactName != null" >
        #{charactName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.Character" >
    update character
    <set >
      <if test="charactName != null" >
        Charact_name = #{charactName,jdbcType=VARCHAR},
      </if>
    </set>
    where Charact_ID = #{charactId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.Character" >
    update character
    set Charact_name = #{charactName,jdbcType=VARCHAR}
    where Charact_ID = #{charactId,jdbcType=INTEGER}
  </update>
</mapper>