<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zjnu.AutoGenPaperSystem.dao.DifficultyMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.zjnu.AutoGenPaperSystem.model.Difficulty" >
    <constructor >
      <idArg column="Difficulty_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Uplimit" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="Lowlimit" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="describe" jdbcType="VARCHAR" javaType="java.lang.String"/>
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    Difficulty_ID, Uplimit, Lowlimit
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from difficulty
    where Difficulty_ID = #{difficultyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from difficulty
    where Difficulty_ID = #{difficultyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.Difficulty" >
    insert into difficulty (Difficulty_ID, Uplimit, Lowlimit
      )
    values (#{difficultyId,jdbcType=INTEGER}, #{uplimit,jdbcType=DOUBLE}, #{lowlimit,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.Difficulty" >
    insert into difficulty
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="difficultyId != null" >
        Difficulty_ID,
      </if>
      <if test="uplimit != null" >
        Uplimit,
      </if>
      <if test="lowlimit != null" >
        Lowlimit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="difficultyId != null" >
        #{difficultyId,jdbcType=INTEGER},
      </if>
      <if test="uplimit != null" >
        #{uplimit,jdbcType=DOUBLE},
      </if>
      <if test="lowlimit != null" >
        #{lowlimit,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.Difficulty" >
    update difficulty
    <set >
      <if test="uplimit != null" >
        Uplimit = #{uplimit,jdbcType=DOUBLE},
      </if>
      <if test="lowlimit != null" >
        Lowlimit = #{lowlimit,jdbcType=DOUBLE},
      </if>
    </set>
    where Difficulty_ID = #{difficultyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.Difficulty" >
    update difficulty
    set Uplimit = #{uplimit,jdbcType=DOUBLE},
      Lowlimit = #{lowlimit,jdbcType=DOUBLE}
    where Difficulty_ID = #{difficultyId,jdbcType=INTEGER}
  </update>
</mapper>