<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zjnu.AutoGenPaperSystem.dao.QuestionsMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.zjnu.AutoGenPaperSystem.model.Questions" >
    <constructor >
      <idArg column="Questions_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Subject_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Knowledge_ID1" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Knowledge_ID2" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Knowledge_ID3" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Knowledge_ID4" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Type_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Difficulty_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Charact_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Isdelete" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="Answer" jdbcType="VARCHAR" javaType="java.lang.String"/>
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    Questions_ID, Content, Subject_ID, Knowledge_ID1, Knowledge_ID2, Knowledge_ID3, Knowledge_ID4, 
    Type_ID, Difficulty_ID, Charact_ID, Isdelete, Answer
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from questions
    where Questions_ID = #{questionsId,jdbcType=INTEGER}
  </select>
	<select id="selectBySearchAll" resultType="cn.edu.zjnu.AutoGenPaperSystem.model.Questions" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.SearchAll">



    </select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from questions
    where Questions_ID = #{questionsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.Questions" >
    insert into questions (Questions_ID, Content, Subject_ID, 
      Knowledge_ID1, Knowledge_ID2, Knowledge_ID3, 
      Knowledge_ID4, Type_ID, Difficulty_ID, 
      Charact_ID, Isdelete, Answer)
    values (#{questionsId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{subjectId,jdbcType=INTEGER}, 
      #{knowledgeId1,jdbcType=INTEGER}, #{knowledgeId2,jdbcType=INTEGER}, #{knowledgeId3,jdbcType=INTEGER}, 
      #{knowledgeId4,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{difficultyId,jdbcType=INTEGER}, 
      #{charactId,jdbcType=INTEGER}, #{isdelete,jdbcType=BIT},#{answer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.Questions" >
    insert into questions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="questionsId != null" >
        Questions_ID,
      </if>
      <if test="content != null" >
        Content,
      </if>
      <if test="subjectId != null" >
        Subject_ID,
      </if>
      <if test="knowledgeId1 != null" >
        Knowledge_ID1,
      </if>
      <if test="knowledgeId2 != null" >
        Knowledge_ID2,
      </if>
      <if test="knowledgeId3 != null" >
        Knowledge_ID3,
      </if>
      <if test="knowledgeId4 != null" >
        Knowledge_ID4,
      </if>
      <if test="typeId != null" >
        Type_ID,
      </if>
      <if test="difficultyId != null" >
        Difficulty_ID,
      </if>
      <if test="charactId != null" >
        Charact_ID,
      </if>
      <if test="isdelete != null" >
        Isdelete,
      </if>
      <if test="answer !=null">
        Answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="questionsId != null" >
        #{questionsId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="knowledgeId1 != null" >
        #{knowledgeId1,jdbcType=INTEGER},
      </if>
      <if test="knowledgeId2 != null" >
        #{knowledgeId2,jdbcType=INTEGER},
      </if>
      <if test="knowledgeId3 != null" >
        #{knowledgeId3,jdbcType=INTEGER},
      </if>
      <if test="knowledgeId4 != null" >
        #{knowledgeId4,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="difficultyId != null" >
        #{difficultyId,jdbcType=INTEGER},
      </if>
      <if test="charactId != null" >
        #{charactId,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=BIT},
      </if>
      <if test="answer !=null">
        #{answer,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.Questions" >
    update questions
    <set >
      <if test="content != null" >
        Content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null" >
        Subject_ID = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="knowledgeId1 != null" >
        Knowledge_ID1 = #{knowledgeId1,jdbcType=INTEGER},
      </if>
      <if test="knowledgeId2 != null" >
        Knowledge_ID2 = #{knowledgeId2,jdbcType=INTEGER},
      </if>
      <if test="knowledgeId3 != null" >
        Knowledge_ID3 = #{knowledgeId3,jdbcType=INTEGER},
      </if>
      <if test="knowledgeId4 != null" >
        Knowledge_ID4 = #{knowledgeId4,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        Type_ID = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="difficultyId != null" >
        Difficulty_ID = #{difficultyId,jdbcType=INTEGER},
      </if>
      <if test="charactId != null" >
        Charact_ID = #{charactId,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        Isdelete = #{isdelete,jdbcType=BIT},
      </if>
      <if test="answer !=null">
        Answer = #{answer,jdbcType=VARCHAR}
      </if>
    </set>
    where Questions_ID = #{questionsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zjnu.AutoGenPaperSystem.model.Questions" >
    update questions
    set Content = #{content,jdbcType=VARCHAR},
      Subject_ID = #{subjectId,jdbcType=INTEGER},
      Knowledge_ID1 = #{knowledgeId1,jdbcType=INTEGER},
      Knowledge_ID2 = #{knowledgeId2,jdbcType=INTEGER},
      Knowledge_ID3 = #{knowledgeId3,jdbcType=INTEGER},
      Knowledge_ID4 = #{knowledgeId4,jdbcType=INTEGER},
      Type_ID = #{typeId,jdbcType=INTEGER},
      Difficulty_ID = #{difficultyId,jdbcType=INTEGER},
      Charact_ID = #{charactId,jdbcType=INTEGER},
      Isdelete = #{isdelete,jdbcType=BIT}
      Answer = #{answer,jdbcType=VARCHAR}
    where Questions_ID = #{questionsId,jdbcType=INTEGER}
  </update>
</mapper>